block var
	include ../config/config

doctype html
html(lang='en')
	head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name='description', content='#{metaDescription}')
			meta(name='author', content='#{metaAuthor}')

		block titlePage
			title #{titlePage}

		block linkHead
			link(rel='icon', href='#{pathToAssets}/favicon.ico')
			// Bootstrap core CSS
			link(href='#{pathToAssets}/css/app.css', rel='stylesheet')

			// Custom styles for this template
			//link(href='#{pathToSelectedTemplateWithinBootstrap}/starter-template.css', rel='stylesheet')

			// Just for debugging purposes. Don't actually copy these 2 lines!
			//if lt IE 9
			script(src='#{pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js')
			script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')
			// IE10 viewport hack for Surface/desktop Windows 8 bug
			script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')
			// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
			//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

			//- fontgoogle
			link(href="#{googleFonts01}" rel="stylesheet" type="text/css")

	body(class="#{namepage}")
		block header
			//.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#')
							| #{projectTilte}
					.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.active
								a(href='#') Home
							li
								a(href='#about') About
							li
								a(href='#contact') Contact
					// /.nav-collapse
			if yamm = true
				include ../views/yamm/navbar-fixed.jade
				// include ../views/navbar-more.jade

		block content

		block footer
			hr
			section.footer

				.container
					.row
						.col-xs-12.hidden-md.hidden-sm.hidden-lg.text-center
							h3 Newsletter
							p Promotions and more details about my activity
							hr
							a.btn_ghost.btn-lg_ghost.btn-brand_ghost(href="#{mailListLink}" title="Join my mailing list") Join my mailing list

						//- social
						.col-sm-4.col-md-4.col-xs-12.text-center
							h3 I am social
							p
								| These are some places where you can find me.
								hr
							include ../include/icon_social
						.col-sm-4.col-md-4.col-xs-12.text-center
							h3 Contact me
							p Don"t hesitate to get in touch with me
							hr
							p
								| mobile: 
								a(href="tel:348-555-07-61") +348 555 07 61
								br
								br
								//- |  &nbsp;&nbsp;|&nbsp;&nbsp;
								| or 
								a(href="#{contactPage}") via e-mail
						.col-sm-4.col-md-4.hidden-xs.text-center
							h3 Newsletter
							p Promotions and more details about my activity
							hr
							a.btn_ghost.btn-lg_ghost.btn-brand_ghost(href="#{mailListLink}") Join my mailing list
					.row
						hr
						.col-xs-12.text-center
						p.text-center
							small #{copyRight} #{projectTilte}

		block endScript
			// Bootstrap core JavaScript
			// ==================================================
			// Placed at the end of the document so the pages load faster
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
			script(src='#{pathToAssets}/javascripts/bootstrap.min.js')

			// yamm
			script(src='#{pathToAssets}/javascripts/yamm.js')