include ../assets/images/icon_social.svg
ul.social.list-inline
	li.text-center
		a.fb.text-hide(href="#{fBpageLink}")
			svg.svg.icon_social(width="80" height="80")
				use(xlink:href="#icon01")
			| Facebook page
	li.text-center
		a.instagram.text-hide(href="#{instagramLink}")
			svg.svg.icon_social(width="80" height="80")
				use(xlink:href="#icon02")
			| instagram
	li.text-center
		a.thumblr.text-hide(href="#{thumblrLink}")
			svg.svg.icon_social(width="80" height="80")
				use(xlink:href="#icon03")
			|thumblr
	li.text-center
		a.pinterest.text-hide(href="#{pinterestLink}")
			svg.svg.icon_social(width="80" height="80")
				use(xlink:href="#icon04")
			| pinterest
	li.text-center
		a.twitter.text-hide(href="#{twitterLink}")
			svg.svg.icon_social(width="80" height="80")
				use(xlink:href="#icon05")
			| twitter